{% extends 'base.html.twig' %}

{% block title %}Path{% endblock %}

{% block body %}
    <h1>Trajets disponibles :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Lieu de départ</th>
                <th>Lieu d'arrivée</th>
                <th>Heure de départ</th>
                <th>Conducteur</th>
                <th>Places restantes</th>

            </tr>
        </thead>
        <tbody>
        {% for path in paths %}


            {% if path.leftSeats > 0 %}
                <tr>
                    <td>{{ path.id }}</td>
                    <td>{{ path.startLocation.name }} </td>
                    <td>{{ path.endLocation.name }}</td>
                    <td>{{ path.startTime ? path.startTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ path.driver.firstName }}</td>
                    <td>{{ path.leftSeats }}</td>

                    <td>
                        {% if app.user %}
                           {% if app.user == path.driver %}
                                <a href="{{ path('path_edit', {'id': path.id}) }}">Modifier</a>
                           {% elseif app.user in path.passengers %}
                               <a href="{{ path('path_cancelReserv', {'id': path.id}) }}">Annuler cette réservation</a>
                            {% else %}
                               <a href="{{ path('path_reserv', {'id': path.id}) }}">Réserver</a>
                            {% endif %}


                        {% else %}
                               <a href="{{path('app_login')}}">Se connecter</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4"> Aucun trajets disponibles </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('path_new') }}">Create new</a> #}
{% endblock %}
