{% extends 'base.html.twig' %}

{% block title %}Path{% endblock %}

{% block body %}
    <h1>Liste des trajets :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Lieu de départ</th>
                <th>Lieu d'arrivée</th>
                <th>Heure de départ</th>
                <th>Conducteur</th>
                <th>Places restantes</th>

            </tr>
        </thead>
        <tbody>
        {% for path in paths %}
            <tr>
                <td>{{ path.id }}</td>
                <td>{{ path.startLocation.name }} </td>
                <td>{{ path.endLocation.name }}</td>
                <td>{{ path.startTime ? path.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ path.driver.firstName }}</td>
                <td>{{ path.seats }}</td>

                <td>
                    <a href="{{ path('path_show', {'id': path.id}) }}">show</a>
                    <a href="{{ path('path_edit', {'id': path.id}) }}">edit</a>
                    {% if not app.user %}
                        <a href="*">réserver</a>
                    {% else %}
                        <a class="disabled" href="*">réserver</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('path_new') }}">Create new</a>
{% endblock %}
